body {
  font-family: 'Roboto';
  background-image: url('/images/umbrella.gif');
  background-attachment: fixed;
  font-size: 18px;
}

fieldset {
  margin-top: 20px;
}

h1 {
  font-size: 80px;
}

legend {
  color: #FFFFFF;
}

.header {
  text-align: center;
  margin-top: 150px;
}

.list-group-item {
  background-color: rgba(245, 245, 245, 0.5);
  padding-top: 18px;
  padding-bottom: 18px;
}

.form-control {
  height: 55px;
  font-size: 18px;
  color: #FFFFFF;
  background-color: rgba(245, 245, 245, 0);
}

.md-18 {
  font-size: 18px;
}

#city-form, #city-results {
  display: none;
}

#btn-start {
  margin-top: 20px;
  font-size: 25px;
}

#btn-submit-city {
  margin-top: -10px;
  margin-left: 515px;
}