<h1>Umbrella Days</h1>

<button id="btn-start">Get Weather</button>

<div id="city-form">
  <fieldset>
    <legend>Search A City</legend>
      <form id="searchCity">
        <input type="text" id="city" placeholder="City Name"><br>
        <button type="submit" id="btn-submit-city">Search!</button>
      </form>
  </fieldset>

  <div id="city-results">
    <fieldset>
      <legend>Search Results</legend>
    </fieldset>
  </div>
</div>
