<div class="header">
  <h1><em>Umbrella Days</em></h1>

  <button id="btn-start" class="btn btn-info btn-lg"><i class="material-icons md-18">beach_access</i> GET WEATHER</button>
  <button id="btn-geo-location" class="btn btn-warning btn-lg">LOCAL CONDITIONS <i class="material-icons md-18">location_city</i></button>
</div>

<div id="city-form">
  <fieldset>
    <legend>Search A City</legend>
      <form id="searchCity">
        <input type="text" id="city" class="form-control" placeholder="Enter City Name"><br>
        <button type="submit" id="btn-submit-city" class="btn btn-info btn-lg">SEARCH <i class="material-icons md-18">cloud_circle</i></button>
      </form>
  </fieldset>

  <div id="city-results">
    <fieldset>
    </fieldset>
  </div>
</div>
